@model PizzeriaApp.Domain.DomainModels.Pizza

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Add New Pizza</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PizzaName" class="control-label"></label>
                <input asp-for="PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaIngredients" class="control-label"></label>
                <input asp-for="PizzaIngredients" class="form-control" />
                <span asp-validation-for="PizzaIngredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaPrice" class="control-label"></label>
                <input asp-for="PizzaPrice" class="form-control" />
                <span asp-validation-for="PizzaPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaImage" class="control-label"></label>
                <input asp-for="PizzaImage" class="form-control" />
                <span asp-validation-for="PizzaImage" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
