<form asp-controller="User" asp-action="ImportUsers" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <p>
        <button type="submit" class="btn btn-success mt-3">Import Excel</button>
    </p>
</form>